#para1{
    color:rgb(117, 19, 43);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size: medium;
}

#para2{
    color:rgb(20, 141, 135);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size: medium;
}